//-Components: Site Search

$c-site-search__font-size: 12px !default;
$c-site-search__btn-color: $s-color-primary !default;
$c-site-search__stack-bp: "md" !default;

.c-site-search{ /* Component */
	font-size: s-px-to-rem($c-site-search__font-size); 
	&__field{
		
	}
	&__btn{
		background-color: $c-site-search__btn-color;
		@include t-mq-min($c-site-search__stack-bp){
			display: block;
		}
	}
	&--xmas{
		
	}
}
